/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

img{
  max-width: 100%;
}

ul li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: white;
}

.container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
/*HEADER*/

/*MAIN*/
main{
  background-color: black;
  height:80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  overflow: auto;
}

main .image-user{
  width: 180px;
  height: 115px;
  margin: 10px auto;
  color: white;
}

main .image-user span{
  color: white;
  position: relative;
  bottom: 25px;
  left:2px;
  font-size: x-small;
  padding: 3px;
  background-color: rgba(90, 88, 88, 0.7);
}

/*FOOTER*/
footer{
  padding: 10px;
  background-color: #222222;
  color: white;
  font-size: 22px;
  
}

footer .icons{
  display: flex;
  justify-content: space-between;
}

footer .icons .toolbar a{
  position: relative;
  left: 5px;
  margin:15px;
}

footer .text{
  display: flex;
  font-size: x-small;
}

.audio-video li{
  position: relative;
  margin: 5px 10px;
}

.toolbar li{
  position: relative;
  left:350px;
  margin: 5px 5px;
}

footer a .fa-solid.fa-angle-up{
  font-size: 8px;
}

footer .toolbar a:nth-child(4){
  color:#4bc800;
}

footer .button{
  background-color: rgba(90, 88, 88, 0.7);
  padding: 5px;
  font-size: x-small;
  color: red;
}